.bookmarkTable {
  width: 100%;
  table-layout: fixed;
}

.bookmarkTable td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .loginRegister {
    display: inline;
  }
}

@media (min-width: 481px) {
  .loginRegister {
    display: flex;
  }
}

.page {
  padding: 0.5rem 0 0 0.5rem;
}

.block {
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 0 0 0.5rem;
}

.categories {
  display: flex;
}

.element {
  margin: 0 0.5rem 0.5rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.panic {
  border: 1px solid red;
}
