.bookmarkTable {
  width: 100%;
  table-layout: fixed;
}

.bookmarkTable td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.page {
  padding: 0.5rem 0 0 0.5rem;
}

.block {
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 0 0 0.5rem;
}

.categories {
  display: flex;
}

.element {
  margin: 0 0.5rem 0.5rem 0;
}

